*{
    color: white;
}
body{
    background: url(/images/bg.jpg) center center fixed;
}
#allIcon{
    /* display: block; */
    position: absolute;
    /* left: 10px; */
    /* border: 2px solid red; */
    width: 50%;
    margin: 20px auto;

}
#allIcon .allImg{
    /* position: absolute; */
}
.htmlIcon img{
    filter: invert(100%);
}
.myFrontPageHeading{
    background-color: rgb(207, 237, 15);
    color: rgb(255 0 0);
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: xx-large;
    margin: auto;
}
.myNavBar{
    text-align: right;
    padding-top: 20px;
}


.myNavBar a{
    text-decoration: none;
}
#myFooter{
    text-align: center;
    padding-top: 350px;
}
#myFooter a{
    text-decoration: none;
    color: blue;
}

#allIcon{
    padding-left: 500px;
    margin: auto;
}

.htmlIcon, img{
    width: 300px;
}

